@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(assets/bg-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 20px;
}

.container{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 65px 55px 54px;
    border-radius: 14px;
}

#title{
    text-align: center;
    padding-bottom: 49px;
    font-family: 'Poppins', sans-serif;
}



.login-info{
    margin: auto;
    width: 100%;
    
}

.placeholder{
    border-bottom: 1px solid black;
    
}

.placeholder input{
    width: 80%;
}

.login-info input{
    border: none;
    /* border-bottom: 1px solid black; */
    margin: 10px 0;
    padding: 10px;
}

.placeholder{
    margin-bottom: 10px;
}

.username label{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.password label{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}


.forgot {
    margin-top: 10px;
    margin-bottom: 20px;
    display: block;
    text-align: right;
    text-decoration: none;
}

.login{
    width: 100%;
    margin: auto;
    text-align: center;
}

.login input{
    width: 100%;
    background-image: url(assets/bg-01.jpg);
    border-radius: 50px;
    color: white;
    background-size: cover;
    

}

.login-with{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 120px;
}

.btn{
    margin-top: 20px;

}

.fa-brands{
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
    /* font-size: 25px; */
    padding-top: 12px;
    margin: 5px;
    
    
}

.fa-facebook-f{
    background-color: #3B5998;
}

.fa-twitter{
    background-color: #1DA1F2;;
}

.fa-google{
    background-color: #EA4335;
}

.fa-brands:hover{
    background-color: black;
    transition-duration: 0.5s;
}

.placeholder input:focus{
   outline: none;
}

.sign-up{
    text-align: center;
}

.sign-up p{
    margin-bottom: 5px;
    font-size: 14px;
    margin-bottom: 15px;
}

.sign-up a{
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    border-radius: 50px;
    background-image: url(assets/bg-01.jpg) ;
    background-size: cover;

}

i{
    color: grey;
}